.react_modal_fade_with_scale-initial {
  scale: 0.97;
  opacity: 0;
}
.react_modal_fade_with_scale-enter {
  scale: 1;
  opacity: 1;
  transition:
    opacity 250ms ease-in,
    scale 200 ease-in;
}

.react_modal_fade_with_scale-exit {
  opacity: 1;
}

.react_modal_fade_with_scale-exit-active {
  opacity: 0;
  scale: 0.98;
  transition:
    opacity 250 ease-in,
    scale 200 ease-in;
}
