.react_modal_fadeIn {
  animation-name: react_modal_fadeIn;
  animation-timing-function: ease-in-out;
}
.react_modal_fadeOut {
  animation-name: react_modal_fadeOut;
  animation-timing-function: ease-in-out;
}

@keyframes react_modal_fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes react_modal_fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
