.react_modal_fade-initial {
  opacity: 0;
}
.react_modal_fade-enter {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.react_modal_fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
