.react_modal_slide_right-initial {
  transform: translateX(100%);
}
.react_modal_slide_right-enter {
  transform: translateX(0%);
  transition: transform 300ms ease-in;
}
.react_modal_slide_right-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in;
}
